* {
  box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  padding: 0 15px;
}

body {
  font-family: "Lato", sans-serif;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

h1,
h2,
h3 {
  margin: 0;
}

p {
  margin: 0;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Light.woff2") format("woff2");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Black.woff2") format("woff2");
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}
.header {
  background-color: #222;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 75px;
}
.header__logo {
  margin-right: 30px;
}
.header__search {
  border: none;
  cursor: pointer;
  background: transparent;
}
.header__nav {
  display: none;
  position: absolute;
  z-index: 10;
  width: 232px;
  height: 764px;
  padding-top: 37px;
  padding-left: 33px;
  top: 75px;
  right: 0px;
  background: #FFF;
  transition: transform 0.3s ease-in-out;
  transform: translateX(101%);
}
.header__nav--active {
  transform: none;
}
.header__burger {
  border: none;
  cursor: pointer;
  background: transparent;
  margin-right: 30px;
}
.header__burger-close {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.header__profile {
  margin-right: 30px;
}

.footer__container-top {
  background-image: url("/img/footer-layer.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.footer__container-bottom {
  background-color: #222224;
}
.footer__top {
  display: flex;
  align-items: center;
  padding: 96px 0 126px 0;
}
.footer__review {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 360px;
  margin-right: 327px;
}
.footer__review-text {
  text-align: center;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  color: #222224;
  margin-top: 30px;
}
.footer__subscribe-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 32px;
  max-width: 356px;
  text-align: center;
}
.footer__subscribe-title--bold {
  display: block;
  font-size: 24px;
  line-height: 40px;
  font-weight: 700;
  font-style: normal;
}
.footer__subscribe-input {
  background: #E1E1E1;
  border-radius: 16px 0px 0px 16px;
  height: 49px;
  width: 256px;
  border: none;
}
.footer__subscribe-btn {
  width: 100px;
  height: 49px;
  border: none;
  cursor: pointer;
  border-radius: 0 20px 20px 0;
  background: #F16D7F;
  color: #FFF;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 79px;
}
.footer__copy {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  color: #FBFBFB;
}

.hero {
  display: flex;
  background-color: #F1E4E6;
  margin: 0 0 63px;
}
.hero__img {
  width: 50%;
  height: auto;
}
.hero__title-wrapper {
  flex-grow: 1;
  align-items: center;
  display: flex;
  padding: 0 0 0 92px;
}
.hero__title {
  font-size: 48px;
  line-height: 58px;
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
}
.hero__subtitle {
  font-size: 37px;
  line-height: 44px;
  font-weight: 700;
  font-style: normal;
  display: block;
}
.hero__subtitle-pink {
  color: #F16D7F;
}/*# sourceMappingURL=style.css.map */