* {
    box-sizing: border-box;
}

.container {
    max-width: 1170px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    padding: 0 15px;

    // @include lg-1024 {
    //     padding: 0 50px;
    // }

    // @include sm-670 {
    //     padding: 0 15px;
    // }
}

body {
    font-family: "Lato", sans-serif;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

h1,
h2,
h3 {
    margin: 0;
}

p {
    margin: 0;
}