@import "fonts";
@import "variables";
@import "mixin";

* {
    box-sizing: border-box;
}

.container {
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    // padding: 0 15px;

    // @include lg-1024 {
    //     padding: 0 50px;
    // }

    // @include sm-670 {
    //     padding: 0 15px;
    // }
}

body {
    font-family: "Lato", sans-serif;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

h1,
h2,
h3 {
    margin: 0;
}

p {
    margin: 0;
}

.header {
    background-color: $nero-color;


    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 75px;
        // padding-top: 14px;
        // padding-bottom: 20px;
    }

    &__logo {
        margin-right: 41px;
    }

    &__search {
        border: none;
        cursor: pointer;
        background: transparent;
    }

    &__burger {
        border: none;
        cursor: pointer;
        background: transparent;
        margin-right: 33px;
    }

    &__profile {
        margin-right: 33px;
    }

    &__nav {
        display: none;
    }
}